@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, ::before, ::after{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background:linear-gradient(60deg, #4CB1EF 0%, #424959 100%, #FF4B44 0%);

}


.divCheckbox input{
	padding: 0;
	height: initial;
	width:initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.divCheckbox label{
	position: relative;
	cursor: pointer;
}

.divCheckbox label::before{
	content:"";
	background-color: #fff;
	border:2px solid #fff;
	padding:10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.divCheckbox input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 9px;
	width: 6px;
	height: 14px;
	border: solid #4BA3DA;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}


#modal{
	position: absolute;
	z-index: 10;
	bottom:40px;
	left:50%;
	transform:translate(-50%, 0%);
	background-color: #FF4B44;
	width:350px;
	height:100px;
	color:#fff;
	padding:20px;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.7);

}

#modal .closeModal{
	position: absolute;
	background-color: #FF4B44;
	color:#fff;
	height: 40px;
	width:40px;
	border-radius:50%;
	top:-15px;
	right:-15px;
}


#modal .closeModal i{
	position: relative;
	left:16px;
	cursor: pointer;
	top:11px;
	
}

#modal .titleModal{
	font-weight: bold;
	font-size: 18px;
	
}


/*

	START SIDEBAR

 */

#containerSidebar{
	height:100%;
	width:40%;
	padding-left:100px;
	background-color:#17202A;
	position:fixed;
	top:0;
	left:0;
	transform:translatex(-100%);
	transition:all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	z-index:10;
	box-shadow:3px 3px 8px 0px rgb(0 0 0 / 50%);
}

#containerSidebar.toggleSidebar{
	transform:translateX(0%);
	left:-100px;

}


#btnVeilleTechno{
	background-color:#17202A;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	top:0px;
	position:absolute;
	right:-60px;
	cursor:pointer;
	z-index:9;
	transition:all 0.3s ease;
	box-shadow:3px 3px 8px 0px rgb(0 0 0 / 25%);
	width:70px;
	height:62px;
}

.hoverBtnVeille:hover {
	transform:translatex(5px);
}

#btnVeilleTechno i{
	color:#fff;
	transform:rotate(-40deg);
	transition:all 0.3s ease-in-out;
	margin:12px 20px 10px 22px;

}

#btnVeilleTechno.changeIconBtnVeille i{
	transform:rotate(0deg);
	margin:15px 15px 15px 27px;

}

.changeIconBtnVeille i::before{
	content:"\f00d";
	transition:all 0.5s ease;

}

.changeIconBtnVeille i:hover .changeIconBtnVeille i::before{
	transform:rotate(90deg);
}

.contentSidebar{
	background-color:#17202A;
	position:relative;
	transition:all 0.1s ease;
	z-index:10;
	height:100%;
	overflow-y:auto;
	padding:40px;
	display: flex;
	flex-direction: column;

}

.contentSidebar::-webkit-scrollbar {
	-webkit-appearance: none;
}

.contentSidebar::-webkit-scrollbar:vertical {
	width: 8px;
	background-color:rgba(7, 81, 135,0.5);
}

.contentSidebar::-webkit-scrollbar-thumb {
	border: 1px solid transparent;
	background-color: #fff;
}


.screenSidebar{
	height:100%;
	width:100%;
	background-color:rgba(23,32,42,0.6);
	position:absolute;
	top:0;
	left:0;
	transform:translatex(-100%);
	transition:all 0.2s ease-in-out 0.2s;
	z-index:10;
}

.itemSidebar{

	border-radius: 8px;
	padding:20px;
	color:#fff;
	text-decoration: none;
	margin-bottom:20px;
	font-weight: bold;
	transition:all 0.3s ease-in-out;
}

.itemSidebar:hover{
	background-color:#fff;
	color:#17202A;
}

.itemDecoSidebar{
	position: absolute;
	bottom:0;
}

/*

	END SIDEBAR

 */

/*

	START FORM ADD PROJECT

 */

.mainForm{

	width:80%;
	height: auto;
	background-color:rgba(255,255,255,0.7);
	border-radius: 25px;
	margin:auto;
	padding:20px;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.5);
}

.mainForm h2{
	text-align: center;
	margin-bottom:20px;
}

.group-input{
	margin-bottom: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.group-input input, textarea{
	position: relative;
	width:100%;
	border-radius: 5px;
	outline: none;
	border:2px solid #17202A;
	padding:10px;
	margin-bottom:10px;
}

.group-input input[type="file"]{
	display: none;
}

.group-input label{
	position: relative;
	color:#17202A;
	margin-bottom: 5px;
}

.group-input .labelFile {
	padding: 10px;
	background-color: #17202A;
	border: none;
	outline: none;
	color:#fff;
	cursor: pointer;
	font-weight: bold;
	width:max-content;
}

.col-input{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: auto;
	overflow: hidden;
	transition: all 0.5s ease;
}

.group-checkbox{

	padding: 10px;

}

.group-checkbox label{
	padding-left:5px;
}

.input-button{
	outline: none;
	border:none;
	cursor: pointer;
	background-color: #17202A;
	color:#fff;
	padding:10px;
	width: fit-content;
}

.btnCollapseCompetence, .btnCollapseTechnologie{
	cursor: pointer;
	border:none;
	outline: none;
	background-color: #17202A;
	color:#fff;
	width:fit-content;
	padding:10px;
}

.collapseCompetence, .collapseTechnologie{
	height: 0px;
}

.expandCollapse{
	height: 100%;
}

#previewFileDiv{
	width:100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.imgPreview{
	width:150px;
	margin:0 10px 10px 0;
}



/* MODAL */
.modalContainer{
	background-color:#fff;
	height:auto;
	width:50%;
	position:absolute;
	top:25%;
	left:25%;
	padding:20px;

}

.modalContainer .modalHeader{
	text-align:left;
	padding-bottom:10px;
}

.modalContainer .modalBody{
	padding:10px 0px;
	border-top:1px solid rgba(0,0,0,0.3);
	border-bottom:1px solid rgba(0,0,0,0.3);

}


.modalContainer .modalFooter{
	padding-top:10px;
	justify-content:center;
	display:flex;
}

.modalContainer .modalFooter button{

	outline:none;
	border:none;
	padding:10px;
	cursor:pointer;
	font-size:16px;
	margin-left:10px;
	transition:all 0.3s ease;
}


.modalContainer .modalFooter #btnCancel{
	background-color:#E74C3C;
	color:#fff;
}


.modalContainer .modalFooter #btnYes{
	background-color:#088B3A;
	color:#fff;
}

.modalContainer .modalFooter button:hover{
	opacity:0.9;
}

.modalClose{
	height:auto;
	width:auto;
	background-color:#17202A;
	position:absolute;
	padding:10px 15px;
	border-radius:50%;
	top:-25px;
	right:-25px;
	transition:all 0.2s ease-in-out;
	cursor:pointer;
}

.modalClose:hover{

	transform:scale(1.2);

}

.modalClose i{
	color:#fff;
}

.effetModal{
	z-index:-99;
	opacity:0;
}

.filtre{
	content:"";
	width:100%;
	padding-left:200px;
	height:100%;
	background:rgba(0,0,0,0.7);
	top:0;
	left:0;
	position:fixed;
	z-index:1;
	transform:translatex(-100%);
	transition:all 0.3s ease-in-out;
}

.slide-in{
	transform:translatex(0%);
	transition:all 0.3s ease-in 0.1s;

}

.slide-out{
	transform:translatex(-100%);
	transition:all 0.4s ease-out 0.2s;
}

.fade-in{
	z-index:99;
	opacity:1;
	transition:all 0.3s ease-in 0.3s;

}


.fade-out{
	z-index:-99;
	opacity:0;
	transition:all 0.3s ease-out 0.1s;

}

.modalInfo h2{
	color: #3498DB;
}

.modalInfo #btnOk{
	background-color: #3498DB;
	color:#fff;
}

/*

	END FORM ADD PROJECT

 */


/*

	START LIST PROJECT

 */


#listProjet{
	display: flex;
	top:0;
	left:0;
	width:100%;
	height: 100%;
}

.sideFiltre{
	padding:100px 30px;
	height: 100%;
	width:20%;
	background-color: #fff;
	color:#000000;
	position: fixed;
}

.contentList{

	width:100%;
	height: auto;
	padding:40px;
	border:1px solid blue;
	margin-left: 20%;

}

.itemList{

	border-radius:50px;
	background-color: #fff;
	width:100%;
	padding:20px;
	transition: all 0.4s ease;
	margin-bottom:20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.itemList:hover{
	transform:translateY(-10px);
}

.itemList a{
	text-decoration: none;
	color:#E74C3C;
	cursor:pointer;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}




form{
	height: auto;
}

form h1{
	letter-spacing: 1px;
	text-transform: uppercase;
}

form .colForm{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form .colForm input{
	outline:none;
	border:1px solid #17202A;
	padding:16px;
	font-size:16px;
}

form .colForm textarea{
	outline:none;
	border:1px solid #17202A;
	padding:16px;
	font-size:16px;
}

.divInput{
	margin-bottom: 40px;
	width:300px;
	position: relative;
}

.divInput input{
	position: relative;
	width:100%;
	box-sizing: border-box;
}

.divInput textarea{
	position: relative;
	width:100%;
	box-sizing: border-box;
}


.divInput #labelNom, .divInput #labelEmail{
	position: absolute;
	bottom:15px;
	left:15px;
	z-index: 5;
	color:#17202A;
	transition:all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.divInput #labelMessage{
	position: absolute;
	top:15px;
	left:15px;
	z-index: 5;
	color:#17202A;
	transition:all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.divInput #labelMessage.anim-label, .divInput #labelEmail.anim-label, .divInput #labelNom.anim-label{
	transform:translate(0px, -40px);
	left:0px;
	font-size:14px;
}

#btnSubmit{
	position:relative;
	background-color:transparent;
	border:2px solid #17202A;
	color:#17202A;
	transition:color 0.8s ease;
	z-index: 1;
	cursor: pointer;
	padding:18px 20px;
	letter-spacing: 1px;
	outline: none;

}

#btnSubmit::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1%;
	height: 100%;
	background: #17202A;
	transform: scaleY(0);
	transform-origin: center;
	transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
	z-index: -1;
}

#btnSubmit:hover::before{
	transform:scaleY(1);
	width:100%;
}

#btnSubmit:hover{
	color: #fff;
}

#btnConnexion{
	position:relative;
	background-color:#17202A;
	border:2px solid #ffffff;
	color:#fff;
	transition:color 0.8s ease;
	z-index: 1;
	cursor: pointer;
	padding:18px 20px;
	letter-spacing: 1px;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#iconShowPass{
	position: absolute;
	top:37px;
	right: 10px;
}

#formConnexion{
	width:auto;
	height: auto;
	padding:40px;
	background-color: #17202A;
	color:#fff;
	border:2px solid #fff;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/*

	END LIST PROJECT

 */

/*

	RESPONSIVE

*/

@media (max-width: 575.98px) {

	#containerSidebar{
		width:100%;
		font-size: 14px;
	}

	#containerSidebar.toggleSidebar{
		transform:translateX(0%);
	}

	.modalContainer{
		background-color:#fff;
		height:auto;
		width:100%;
		position:absolute;
		top:25%;
		left:0;
		padding:20px;

	}

	.modalClose{
		display: none;
	}

	.modalClose i{
		font-size:25px;
	}

	.modalHeader h2{
		font-size:20px;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) {

	#containerSidebar{
		width:70%;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {

	#containerSidebar{
		width:50%;
	}

}

@media (min-width: 992px) and (max-width: 1199.98px){

	#containerSidebar{
		width:50%;
	}

}

@media (min-width: 1200px) {
	#containerSidebar{
		width:35%;
	}

}

